/*
  Main CSS file
*/

/*
  SELECTOR {
    property: value;
  }
  ***** example:
  .className {
    color: red;
  }
*/

body {
  /* Reset margin for my columns to line up!!!! */
  /* giving margin just one value will repeat that value through all four sides: top, right, bottom, left */
  margin: 0;
}

/* We typically do not want to fight browser default styling: we want to USE it and this is called "Normalizing" */
.brandText {
  font-family: helvetica;
  color: red;
}

.thumbnailImage {
  width: 50px;
  height: 50px;
}

.subHeading {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}
